@charset "utf-8";
body{
 margin:0px;
 padding:0px;
 font:8pt Tahoma;
 direction:rtl;
 color:#666;
 background-image:url('../images/bg.jpg');
}
ul,li,p{
	margin:0px;
	padding:0px;
}
.clr{
	clear:both
}
a{
	text-decoration:none;
	color:#333333
}
div.header{
	position:relative;
	width:800px;
	height:180px;
	margin:0px auto
}
a#logo{
	position:absolute;
	top:60px;
	right:0px;
	display:block;
	background:url(../images/logo.png);
	width:385px;
	height:104px;
}
div.menu{
	margin-top:0px;
}
div.menu ul.menu{
	width:800px;
	margin:0px auto;
	background:#CCC;
}
div.menu ul.menu li{
	float:right;
	list-style:none;
	background:#ccc;
	color:#fff;
}
div.menu ul.menu li:hover{
	background:#FFFAD2
}
div.menu ul.menu li a{
	display:block;
	padding:4px;
	border-left:1px solid #FFF
}
li.link_active a{
	background:#86a348;
	color:#FFFFFF
}
.fild{
	font:8pt Tahoma, Geneva, sans-serif;
	padding:2px;
	margin:2px;
	border:1px solid #CCC
}
.rtl{
	text-align:right;
	direction:rtl
}
.ltr{
	text-align:left;
	direction:ltr
}
div.content{
	width:800px;
	font:8pt/1.7 Tahoma, Geneva, sans-serif;
	direction:rtl;
	margin:0px auto;
}

.bt {
	font:8pt Tahoma, Geneva, sans-serif;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.1s linear 0s;
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-repeat: no-repeat;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.but { 
     width:300px;
	 height:32px; 
	 margin-bottom:10px; 
	 font:9pt tahoma; 
	 padding-right:4px; 
	 color:#999;
}
.bt:hover {
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
}
div.footer{
	width:800px;
	padding:2px;
	margin:10px auto;
	color:#999;
	line-height:20px;
}
::-webkit-scrollbar { background:#fff; width:10px;height:10px; }
::-webkit-scrollbar-thumb { background:#999; border-radius:5px; box-shadow:inset 0 0 10px #333; }